/* COMMON */
img {
    max-width: 100%;
}

.ms_wrapper {
    width: 70%;
    margin: 0 auto;
}

hr {
    display: inline-block;
    border: 3px solid;
    border-color: inherit;
    border-radius: 5px;
    min-width: 100px;
    opacity: 1;
    line-height: 1rem;
    vertical-align: middle;
}

.star {
    line-height: 1rem;
    vertical-align: middle;
    color: inherit;
}

.ms_section-title {
    text-align: center;
}

/* HEADER */
header {
    height: 80px;
    background-color: #2c3e50;
    color: white;
}

.nav-link , .navbar-brand , .icon {
    color: white;
}

.navbar-toggler {
    border-color: white;
}

/* MAIN */
main {
    margin-top: 80px;
}
/* Hero */
#ms_hero {
    background-color: #1abc9c;
    color: white;
}

#ms_hero img {
    width: 250px;
}

.hero-paragraph {
    font-size: 1rem;
}

/* About */
#ms_about {
    background-color: #1abc9c;
    color: white;
}

/* Contact Me */
#ms_contact-me {
    /* Debug */
    min-height: 600px;
}

.ms_form-control {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
}

label {
    font-size: 1.5rem;
}

.ms_btn-primary {
    background-color: #1abc9c;
    color: white;
}

/* FOOTER */
footer {
    color: white;
}
/* Footer-top */
.ms_footer-top {
    background-color: #3a546d;
}

ul {
    list-style-type: none;
}

li a {
    color: inherit;
}

.ms_btn {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid white;
    padding-top: 12px;
}

p a {
    text-decoration: none;
    color: #1abc9c;
}

/* Footer-bottom */
.ms_footer-bottom {
    background-color: #2c3e50;

}

.ms_footer-bottom p{
    margin-bottom: 0;
}